.content_input_codigo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.digito {
    width: 7vh;
    height: 7vh;
    text-align: center;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    -webkit-text-security: disc; /* Oculta el número como una contraseña */
    background-color: white;
    box-shadow: 0 10px 30px -20px rgba(0, 0, 0, 0.3);
}

.digito:focus {
    border-color: #d1c1979d;
}

/* Evita los botones de incremento y decremento en móviles */
.digito::-webkit-outer-spin-button,
.digito::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.digito[type="password"] {
    -moz-appearance: textfield; /* Para Firefox */
}
