/* Oculta los contenedores con opacidad y desplazamiento */
.scroll-effect {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Cuando el contenedor es visible, lo animamos */
.scroll-effect.visible {
    opacity: 1;
    transform: translateY(0);
}

